/*
    reset
*/
ul {
    padding: 0;
    margin: 0;
}

/*
Layout 
*/
body,
main,
footer {
    display: flex;
    flex-direction: column;
}
body {
    margin: 0;
    min-height: 100vh;
}

header,
.user-profile,
.menu-items {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

main {
    flex-grow: 1;
    position: relative;
}
main .hero{
    align-self: flex-end;
    max-width: min(32rem, 100%);
}
main .popup-card {
    display: block;
    position: absolute;
    width: 80%;
    max-width: 32rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}
.form-row {
    margin-bottom: 1rem;
}
.form-row label {
    display: block;
}
[for="bookStatus"] {
    display: inline-block;
}
table tr td:nth-child(3),
table tr th:nth-child(3) {
    display: none;
}

.form-row input,
.form-row select {
    font-size: 100%;
    font-family: inherit;
}
.form-row input {
    width: 100%;
}

.form-row-special button {
    font-size: 100%;
    padding-inline: 1rem;
    width: 7rem;
    border: 2px outset silver;
    border-radius: 0.25em;
}
.form-row-special .saveBook {
    background-color: #d61970;
    margin-right: 0.5rem;
}
/*.form ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}*/

main table {
    max-width: min(64rem, 100%);
}
footer {
    flex-grow: 0;
}
@media screen and (min-width: 540px) {
    /*.bookDetails .form-row {
        display: grid;
        grid-template-columns: 10rem 1fr;
        justify-content: center;
        gap: 1rem;
    }*/
    .dataForm .form-row > * {
        display: inline-block;
        text-align: right;
    }
    .form-row > label {
        width: 10rem;
    }
    .form-row > input {
        width: calc(100% - 13rem);
    }
    .form-row-special {
        margin-left: 10rem;
    }
    table tr td:nth-child(3),
    table tr th:nth-child(3) {
    display: table-cell;
}
}
/*
Custom styles
*/
/*@font-face{
    font-family: "Raleway";
    src: url("./Raleway/Raleway-VariableFont_wght.ttf") format("ttf");
}*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap');

::marker {
    content: "";
}

:root {
    --bg-color: #000935;
    --text-color-primary: #fff;
    --text-color-secondary: #d61970;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    line-height: 2;
    color: var(--text-color-primary);
    background: url(./img/geametry-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-inline: 0.5rem;
}

header {
    font-weight: 400;
    text-shadow: black 2px 2px 5px;
}
header #profile-picture {
    height: 2em;
    border-radius: 50%;
    box-shadow: #d6197050 1px 0 1px 1px;
}
header .user-profile {
    font-size: 1.4rem;
    color: var(--text-color-secondary);
    padding: 0.25rem;
}
header .menu-items > *:hover,
.link {
    border-top: 1px ridge #d61970;
    background-color: #000935;
    font-weight: 700;
    cursor: pointer;
}
.menu-items :active,
.link:active {
    color: #d61970;
}


main {
    background-image: url(./img/map-bg.svg);
    background-size: max(640px, 80%);
    background-repeat: no-repeat;
}

main .hero {
    padding: 0.5rem;
}

.hero .quote {
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.5;
    background-color: #468dd308;
    text-shadow: 1px 2px 3px #000;
}

.hero button {
    background-color: var(--text-color-secondary);
    color: var(--text-color-primary);
    font-weight: 400;
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    border: 2px outset var(--text-color-primary);
}
.hero .timestamp {
    display: block;
    font-size: 0.8rem;
    padding: 1rem;
    color: var(--text-color-secondary);
    font-weight: 400;
    text-align: right;
}

.popup-card {
    background-color: var(--bg-color);
    outline: 1px solid var(--text-color-secondary);
    box-shadow:var(--text-color-primary) 0.2rem 0.2rem 1rem -0.8rem;
    border-radius: 1rem;
    padding: 1em;
}
.hidden {
    visibility: hidden;
}
.hide {
    display: none;
}

main #bookShelf {
    padding: 0.5rem;
    max-width: 100%;
}
#bookShelf {
    text-align: left;
}
table tr:nth-child(2n) {
    background-color: #468dd308;
}
table tr:hover {
    box-shadow: 0 2px 3px 2px #468dd340;
    background-color: #000935;
}
table td {
    vertical-align: top;
    padding-inline-start: 0.5rem;
    border-left: 1px solid #468dd320;
}
table td:last-child {
    border-right: 1px solid #468dd320;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
table td:first-child {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
tfoot td {
    max-height: 1rem;
}

table details {
    position: relative;
}

details summary {
    padding-left: 1.5rem;
    cursor: pointer;
}
details[open] summary {
    background-color: #468dd308;
    border-bottom: 1px solid #468dd340;
}
details[open] summary ~ * {
    font-size: 80%;
    line-height: 1;
}
details summary::after,
details[open] summary::after {
    position: absolute;
    content: "☟";
    left: 0.25rem;
    top: 0;
    font-size: 100%;
}
details summary::after{
    content: "☞";
}
td.hide {
    display: none;

}
td.hide button {
    background-color: red;
    color: #fff;
    width: 100%;
    cursor: pointer;
}
tr:hover td.hide {
    display: table-cell;
}

footer {
    padding:0 1rem;
    background-color: #000935;
}
small {
    font-size: 0.8rem;
}