/*
    reset
*/
ul {
    padding: 0;
    margin: 0;
}

/*
Layout 
*/
body,
main,
footer {
    display: flex;
    flex-direction: column;
}
body {
    margin: 0;
    min-height: 100vh;
}
header,
.user-profile,
.menu-items {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

main {
    flex-grow: 1;
    gap: min(3rem, 20vw);
    position: relative;
}
main .hero{
    align-self: flex-end;
    max-width: min(32rem, 100%);
}
main .popup-card {
    display: block;
    position: absolute;
    width: 100%;
    max-width: 32rem;
    left: 50vw;
    top: 50%;
    transform: translate(-50%, -50%)
}
.form-row label {
    display: block;
}
.form-row input,
.form-row select {
    font-size: 100%;
    font-family: inherit;
}
/*.form ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}*/

main table {
    max-width: min(64rem, 100%);
}
footer {
    flex-grow: 0;
}
@media screen and (min-width: 420px) {
    .bookDetails .form-row {
        display: grid;
        grid-template-columns: 10rem 1fr;
        justify-content: center;
        gap: 1rem;
    }
    .form-row >label:first-child {
        text-align: right;
    }
}
/*
Custom styles
*/
@font-face{
    font-family: Raleway;
    src: url("./Raleway/Raleway-VariableFont_wght.ttf") format("ttf");
}

:root {
    --bg-color: #000935;
    --text-color-primary: #fff;
    --text-color-secondary: #d61970;
    font-family: Raleway, sans-serif;
    font-weight: 300;
    line-height: 2em;
    color: var(--text-color-primary);
    background: url(./img/geametry-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    font-weight: 400;
    text-shadow: black 2px 2px 5px;
}
header #profile-picture {
    height: 2em;
    border-radius: 50%;
    box-shadow: var(--text-color-primary) 1px 0 1px 1px;
}
header .user-profile {
    font-size: 1.4rem;
    color: var(--text-color-secondary);
}
header .menu-items > *:hover,
.link {
    border-top: 1px ridge #d61970;
    background-color: #000935;
    font-weight: 700;
    cursor: pointer;
}
.menu-items :active,
.link:active {
    color: #d61970;
}
main {
    background-image: url(./img/map-bg.svg);
    background-size: max(640px, 80%);
    background-repeat: no-repeat;
}
::marker {
    content: "";
}
.popup-card {
    background-color: var(--bg-color);
    outline: 1px solid var(--text-color-secondary);
    box-shadow:var(--text-color-primary) 0.2rem 0.2rem 1rem -0.8rem;
    border-radius: 1rem;
    padding: 1em;
}
.popup-card.hidden {
    visibility: hidden;
}
